doctype html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title="购房网团购"
    //
        Bootstrap
    link(href="stylesheets/bootstrap.css" rel="stylesheet")
    link(href="stylesheets/login.css" rel="stylesheet")
    //
        HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        WARNING: Respond.js doesn't work if you view the page via file://
body
    section.wrapper
        header.navbar-wrapper.navbar-fixed-top
            nav.container
                div.navbar(role="navigator")
                    div.navbar-header
                        button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        h1.navbar-brand
                            a(href="http://3g.ccgoufang.com") 购房网
                            em.hidden-sm.hidden-xs 一个神奇的网站
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li
                                a(href="") 新房
                            li
                                a(href="") 新闻
                            li
                                a(href="") 二手房


        div.container
            form.form-inline
                div.form-group
                    input.form-control(type="text" id="name" name="name" placeholder="姓名：")
                div.form-group
                    input.form-control(type="text" id="telphone" name="telphone" placeholder="电话：")
                div.form-group
                    input.form-control(type="text" id="count" nme="count" placeholder="人数：")
                div.form-group
                    select.form-control(id="route" name="route")
                        option(value=0) 请选择
                        each val,index in routes
                            option(value=routes[index].id)=routes[index].title
        hr
        div.container
            each val,i in  articles
                section.content
                    div.row
                        div.col-xs-3
                            img(src="http://www.ccgoufang.com/"+articles[i].logofile,alt="",class="img-responsive")
                        div.col-xs-7
                            p
                                if articles[i].linkflag=='Y'
                                    a(href=articles[i].redirecturl title=articles[i].title)=articles[i].title
                                else if articles[i].staticFileName
                                    a(href="http://3g.ccgoufang.com/"+articles[i].staticFileName title=articles[i].title )=articles[i].title
                                else
                                    a(href="http://3g.ccgoufang.com/"+articles[i].path+"/"+articles[i].id+".html" title=articles[i].title)=articles[i].title
                        div.col-xs-2
                            img(src="images/ico_arrow03.png" alt="" style="margin-top: 15px;")
                        div.clearfix.visible-xs-block
    script(src="javascripts/jquery.js")
    script(src="javascripts/bootstrap.js")
